<nav>
    <div class="position-sticky pt-3">
        <ul class="nav flex-column d-grid gap-2 mx-auto">
            <li class="nav-item">
                <div class="logo">
                    <a href="/principal" class="simple-text">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </a>
                    <a href="/crm/contactos" class="simple-text">
                        CRM
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="card">
                    <img src="../../../assets/images/profile.png" class="card-img-top" alt="foto usuario"
                        id="foto_user">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Administrador</li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="btn btn-secondary mat-elevation-z8" routerLink="/crm/contactos">
                    <span data-feather="file"></span>
                    Contactos
                </a>
            </li>
            <li class="nav-item ">
                <a class="btn btn-secondary mat-elevation-z8" routerLink="/crm/dashboard">
                    <span data-feather="layers"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item ">
                <a class="btn btn-secondary mat-elevation-z8" routerLink="/crm/marketing">
                    <span data-feather="layers"></span>
                    Marketing
                </a>
            </li>
            <li class="nav-item ">
                <a class="btn btn-secondary mat-elevation-z8">
                    <span data-feather="layers"></span>
                    Notificaciones
                </a>
            </li>
            
            <li class="nav-item ">
                <a class="btn btn-secondary mat-elevation-z8">
                    <span data-feather="layers"></span>
                    Configuraciones
                </a>
            </li>
        </ul>

    </div>
</nav>
