<head>
    <title>Clientes</title>
</head>
<body>
    <app-header></app-header>

    <div class="container-fluid">
        <div class="row">
            <div id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <app-sidebarmenu></app-sidebarmenu>
            </div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Clientes / Agregar Nuevo Cliente</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <!--<button type="button" class="btn btn-sm btn-outline-secondary">Opcion 1</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Opcion 2</button>-->
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <nav>
                        <div class="nav nav-tabs " id="nav-tab" role="tablist">
                          <button class="nav-link mat-elevation-z8 active" id="nav-datosCliente-tab" data-bs-toggle="tab" data-bs-target="#nav-datosCliente" type="button" role="tab">Datos Cliente</button>
                          <button class="nav-link mat-elevation-z8" id="nav-datosFinancieros-tab" data-bs-toggle="tab" data-bs-target="#nav-datosFinancieros" type="button" role="tab">Datos Financieros</button>
                          <button class="nav-link mat-elevation-z8" id="nav-dependientes-tab" data-bs-toggle="tab" data-bs-target="#nav-dependientes" type="button" role="tab">Dependientes</button>
                          <button class="nav-link mat-elevation-z8" id="nav-datosFacturacion-tab" data-bs-toggle="tab" 
                          data-bs-target="#nav-datosFacturacion" type="button" role="tab">Datos Facturación</button>
                          <button class="nav-link mat-elevation-z8" id="nav-preexistencias-tab" data-bs-toggle="tab" 
                          data-bs-target="#nav-preexistencias" type="button" role="tab">Preexistencias</button>
                          <button class="nav-link mat-elevation-z8" id="nav-planes-tab" data-bs-toggle="tab" 
                          data-bs-target="#nav-planes" type="button" role="tab">Planes</button>
                        </div>
                      </nav>
                      <div class="tab-content mat-elevation-z8" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-datosCliente" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="card mat-elevation-z8">
                                
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-5">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Nombre Compañía">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Ruc">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Nombre Coordinador" type="text">
                                              </mat-form-field>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Correo electrónico del coordinador" type="text">
                                              </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Número celular coordinador" type="text">
                                              </mat-form-field>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-datosFinancieros" role="tabpanel" aria-labelledby="nav-profile-tab">En Construccion</div>
                        <div class="tab-pane fade" id="nav-dependientes" role="tabpanel" aria-labelledby="nav-contact-tab">En Construccion</div>
                        <div class="tab-pane fade" id="nav-datosFacturacion" role="tabpanel" aria-labelledby="nav-contact-tab">En Construccion</div>
                        <div class="tab-pane fade" id="nav-preexistencias" role="tabpanel" aria-labelledby="nav-contact-tab">En Construccion</div>
                        <div class="tab-pane fade" id="nav-planes" role="tabpanel" aria-labelledby="nav-contact-tab">En Construccion</div>
                      </div>
                      <button mat-raised-button type="submit" class="btn btn-light pull-right mat-elevation-z8">Guardar</button>
                </div>

            </main>

        </div>
    </div>
</body>


