table {
    width: 100%;
    margin-top: 5px;
    overflow-x:auto
  }

.mat-form-field {
    width: 100%; 
    color: white;
  }

.ng-star-inserted{
    background: #424242;
}

h2{
    color: white;
}

.pointer{
  margin-right: 0.2em;
}

@media (max-width: 768px){
#tdcorreo, #thcorreo{
  display: none;
}
}

@media (max-width: 768px){
  #thcelular, #tdcelular,#thcoordinador,#tdcoordinador{
    display: none;
  }
  }